<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrdersMapper">

    <select id="page" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="beginTime!=null and endTime!=null">and order_time between
            #{beginTime}
            and
            #{endTime}</if>
            <if test="number!=null and number!=''">and number like concat('%',#{number},'%')</if>
            <if test="phone!=null and phone!=''">and phone = #{phone}</if>
            <if test="status!=null">and status = #{status}</if>
            <if test="userId!=null">and user_id = #{userId}</if>
        </where>
        order by order_time desc
    </select>

    <select id="statistics" resultType="com.sky.vo.OrderStatisticsVO">
        select SUM(CASE WHEN status = 2 THEN 1 ELSE 0 END) AS toBeConfirmed,
               SUM(CASE WHEN status = 3 THEN 1 ELSE 0 END) AS confirmed,
               SUM(CASE WHEN status = 4 THEN 1 ELSE 0 END) AS deliveryInProgress
        from orders
    </select>

</mapper>